package $poPackage;

import lombok.Data;
import io.swagger.v3.oas.annotations.media.Schema;
#if($hasExtend)
import $extendClass;
#end

/**
 * ${tableComment}
 *
 */
@Data
@Schema(description = "$tableComment")
public class $ConvertUtils.toCamelCase($tableName) #if($hasExtend)extends $extendClassName #end{
#foreach($col in $columns)
    @Schema(description = "$col.comment")
    private $col.type $col.name;
    #if($foreach.hasNext)

    #end
#end
}