package $servicePackage;

#set($poClassName = $ConvertUtils.toCamelCase($tableName))
import com.baomidou.mybatisplus.extension.service.IService;
import $poPackage.$poClassName;

public interface ${poClassName}Service extends IService<$poClassName> {

}